<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Hacker_News">

    <!-- Network state information handle !-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Access internet handle !-->
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/Theme.Hacker_News">

        <!-- First activity called  this state !-->
        <activity android:name="com.example.Hacker_News.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Home page activity called  this state !-->
        <activity android:name="com.example.Hacker_News.activity.HomeActivity"/>

        <activity android:name="com.example.Hacker_News.activity.WebviewActivity"/>
    </application>

</manifest>